<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>EZTransportation</title>
    <link
      rel="stylesheet"
      href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet">
  </head>

  <body>
    <div class="container-fluid">
      <div class="navbar navbar-static-top navbar-custom" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/"><strong>Transportation</strong></a>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/home">Home</a></li>
            <li><a href="/carpool">Carpool</a></li>
            <li><a href="/bus">Bus</a></li>
            <li><a href="/login">Log In</a></li>
            <li><a href="/signup">Sign Up</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container-fluid"></div>
  </body>
</html>
