<%- include('../_partial/_header'); -%>

<div id="carpoolContainer" class="container-fluid">
<h1>Do You Want to <strong style="color: orangered;">Carpool?</strong></h1>
<div id="cardContainer">
<div id="bookCard">
    <h2 class="animated bounce"><span class="material-icons-outlined md-24">
        phone_iphone
        </span> Book a ride!</h2>
    
    <br>
    <a class="btn btn-default" href="/book">Book</a>
</div>

<div id="offerCard">
    <h2 class="animated bounce"><span class="material-icons-outlined md-24">
        directions_car
        </span> Offer a ride!</h2>
        
    <br>
    <p><a class="btn btn-default" href="/offer">Offer</a></p>
</div>
</div>
</div>


<%- include ('../_partial/_footer'); -%>