<%- include('../_partial/_header'); -%>
<div id="carpoolContainer">
<h1 style="color: orangered;">Welcome to the home page</h1>
<h3>EZTransportation</h3><br><br><br>
<h4>This application was created to facilitate transportation for the general public. It combines many transportation methods into one simple hub.</h4><br>
<p>Finding an application that supports many different transportation methods can be pretty difficult. Our goal is to increase the quality
    of life for the general public by improving their daily commutes. EZTransportation provides its own transportation methods with its large fleet
    of buses. Also, our valued clients can offer carpools to other users in order to make some extra money on the side.
</p>
</div>
<%- include ('../_partial/_footer'); -%>