<%- include('../_partial/_header'); -%>
<div id="carpoolContainer">
 
    <div class="panel panel-default">
 
        <div class="panel-heading">
            <h3>Sign Up</h3>
        </div>
        <div class="panel-body">
            <form class="form-signin" method="POST" action="/signup">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">@</span>
                    <input type="text" class="form-control" placeholder="Username" name="username" aria-describedby="basic-addon1">
                </div>
                <br />
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">@</span>
                    <input type="email" class="form-control" placeholder="Email address" name="email"
                        aria-describedby="basic-addon1">
                </div>
                <br />
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-lock"
                            aria-hidden="true"></span></span>
                    <input type="password" name="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
                </div>
                <br />
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-lock"
                            aria-hidden="true"></span></span>
                    <input type="password" class="form-control" placeholder="Re-password"
                        aria-describedby="basic-addon1" name="repassword">
                </div>
                <br />
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-lock"
                            aria-hidden="true"></span></span>
                    <input type="text" class="form-control" placeholder="Address"
                        aria-describedby="basic-addon1" name="address">
                </div>
                <br />
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-lock"
                            aria-hidden="true"></span></span>
                    <input type="text" class="form-control" placeholder="Age"
                        aria-describedby="basic-addon1" name="age">
                </div>
                <br />
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-lock"
                            aria-hidden="true"></span></span>
                    <input type="text" class="form-control" placeholder="Gender"
                        aria-describedby="basic-addon1" name="gender">
                </div>
 
                <input type="submit" class="btn btn-default navbar-btn" value="Sign Up" />
 
            </form>
        </div>
    </div>
</div>
 
 
 
<%- include('../_partial/_footer'); -%>